[buildout]
extends =
    https://dist.plone.org/release/5.0.5/versions.cfg
    versions.cfg
versions = versions
parts =
    instance
    circus
    circus_config


[instance]
recipe = plone.recipe.zope2instance
eggs =
    Plone
    Pillow


[circus]
recipe = zc.recipe.egg


[circus_config]
recipe = collective.recipe.template
numprocesses = 4
input = inline:
    [circus]
    check_delay = 5
    endpoint = ipc:///${buildout:directory}/var/endpoint.sock
    pubsub_endpoint = ipc:///${buildout:directory}/var/pubsub.sock
    stats_endpoint = ipc:///${buildout:directory}/var/stats.sock
    umask = 002
    [watcher:instance]
    working_dir = ${buildout:directory}
    cmd = ${buildout:directory}/bin/instance fg
    warmup_delay = 0
    numprocesses = 1
    # will push in instance.log the stream every 300 ms
    stdout_stream.class = FileStream
    stdout_stream.filename = ${buildout:directory}/var/logs/instance.log
    stdout_stream.max_bytes = 52428800
    stdout_stream.backup_count = 5
    stderr_stream.class = FileStream
    stderr_stream.filename = ${buildout:directory}/var/logs/error_instance.log
    stderr_stream.max_bytes = 52428800
    stderr_stream.backup_count = 5
output = ${buildout:directory}/var/conf/circus.ini


[crontab]
recipe = z3c.recipe.usercrontab
times = @reboot
command = ${buildout:directory}/bin/circusd ${buildout:directory}/var/conf/circus.ini --daemon

